.features {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4rem 0;
}

.feature {
  margin-bottom: 2rem;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  background-color: rgb(39, 35, 35);
}

.feature:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.featureSvg {
  height: 150px;
  width: 150px;
  margin-bottom: 1rem;
}

.title {
  font-family: 'Roboto', sans-serif;
  font-size: 1.8rem;
  color: #777171;
  margin-bottom: 1rem;
}

.description {
  font-family: 'Roboto', sans-serif;
  color: white;
  font-size: 1.125rem;
  line-height: 1.8;
  max-width: 800px;
  margin: 0 auto 1.5rem auto;
  padding: 0 1rem;
  font-weight: 300;
}

.description p {
  margin-bottom: 1rem;
}

.description strong {
  font-weight: 700;
}

.text--center {
  text-align: center;
}