/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

*{
  font-family: 'Courier New', monospace;
}

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

iframe {
  border-radius: 20px;
  border: limegreen solid 1px;
}

.imageStyle {
  width: 20%; 
  height: auto;
  border-radius: 5px; 
  border: limegreen 1px solid;
  border-radius: 20px;
  padding: 5px;
}

pre{
  color: #57875c;
  border:  #57875c 1px solid;
}

pre{
  color: #57875c;
  border:  #57875c 1px solid;
}




:root {
  --ifm-color-background: rgb(180, 180, 180); 
}