/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

*{
  font-family: 'Courier New', monospace;
}

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
}

iframe {
  border-radius: 20px;
  border: limegreen solid 1px;
}

.imageStyle {
  width: 20%; /* Or any other size */
  height: auto;
  border-radius: 5px; /* Optional: if you want rounded corners */
  border: limegreen 1px solid;
  border-radius: 20px;
  padding: 5px;
}

pre{
  color:rgb(206, 173, 42);
  border: rgb(206, 173, 42) 1px solid;
}

pre{
  color:rgb(206, 173, 42);
  border: rgb(206, 173, 42) 1px solid;
  background-color: black;
}

section{
  background-color: black;
}

nav {
  background-color: black;
}

footer {
  background-color: black;
}
:root {
  --ifm-color-background: black; /* Replace with your desired color */
}