/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */
 @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

 * {
  font-family: "Lora", serif;
  font-weight: 700;
  font-optical-sizing: auto;
  font-style: normal;
  margin: 0;
  padding: 0;
}



body {
  background-color: var(--ifm-color-background) !important;
  color: var(--text-color);
}

/* Ensure all sections have a consistent background */
.heroBanner,
.docMainContainer_gTbr,
.sidebarViewport_Xe31,
.menu {
  background-color: var(--ifm-color-background) !important;
  /* Ensure sections have the same background */
}

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}


.button-link {
  display: inline-block;
  background-color: #808080;
  color: var(--text-color);;
  text-decoration: none;
 padding: 0 0;
  font-weight: bold;
  font-size: 16px; 
  text-align: center;
  cursor: pointer; 
}

iframe,
.imageStyle {
  border-radius: 20px;
  border: limegreen solid 1px;
}

.imageStyle {
  width: 20%;
  height: auto;
  padding: 5px;
}

pre {
  color: #57875c;
  border: #57875c 1px solid;
}

/* Custom background colors for light and dark modes */
:root {
  --ifm-color-background: #ffffff;
  /* Light mode background color */
  --text-color: #000000;
  /* Text color for light mode */
}

/* Dark mode styles */
[data-theme='dark'] {
  --ifm-color-background: #000000;
  /* Dark mode background color */
  --text-color: #e6e6e6;
  /* Text color for dark mode */
}

/* Header and Title styles */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: medium;
  font-size: 35px;
}

/* General image adjustments */
.markdown img {
  max-width: 65%; 
  height: auto; 
  display: block; 
  margin: 1.5rem auto; 
  border-radius: 10px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.15); 
  transition: transform 0.3s ease; 
}

/* Hover effect */
.markdown img:hover {
  transform: scale(1.02); 
}

/* Adjustments for mobile devices */
@media (max-width: 768px) {
  .markdown img {
    max-width: 95%; 
    margin: 1rem auto; 
  }
}

/* Additional styling for larger images */
.markdown img.large {
  max-width: 80%; 
  margin: 2rem auto; 
}

/* Mobile styling */
@media (max-width: 768px) {
  .markdown img {
    max-width: 100%; 
  }

  .markdown img.large {
    max-width: 90%; 
  }
}

/* Navbar styles */
.navbar {
  background-color: #038624;
 
  align-items: center;
  padding: 0 20px; 
}
.navbar__brand.keychainify-checked {
  color: #fff;
  border-radius: 4px; 
  text-decoration: none; 
  transition: background-color 0.3s ease; 
}

.navbar__brand.keychainify-checked:hover {
  background-color: #0056b3; 
}



.navbar__logo:hover {
  transform: scale(1.1); 
}


b {
  color: var(--text-color); 
  text-decoration: none;
  background-color: transparent; 
  
  border-radius: 4px; 
  transition: background-color 0.3s ease, color 0.3s ease; 
 font-size: 20px;
}


.a
.navbar__link_,
.navbar__item .navbar__link,
.menu__link,
a {
  color: var(--text-color); 
  text-decoration: none;
  background-color: transparent; 

  border-radius: 4px; 
  font-family: "Lora", serif;
  font-weight: 400;
  font-size: 18px;
  transition: color 0.3s ease;
 
}

.table-of-contents__link toc-highlight table-of-contents__link--active , a , span {
  color: var(--text-color) !important;
  background-color: transparent !important;
}

p {
  font-size: 18px; 
  line-height: 1.6; 
  margin: 1rem 0; 
  color: var(--text-color);
}
/* Adjusting <strong> styles */
strong {
  font-weight: bold;
  font-size: 1.1em; 
  color: #038624; 
}

/* Additional styling */
.card,
.theme-admonition-tip {
  border: 1px solid #080a09;
  border-radius: 10px;
  padding: 20px;
  margin: 20px;
}

.clean-btn {
  color: white;
  border-radius: 50%;
}

.button.button--secondary {
  background-color: #57875c;
  color: white;
  margin: 20px;
  border: 1px solid #00ba47;
}

.button.button--secondary:hover {
  color: white;
}

.navbar__link--active {
  color: #000000 !important;
}

.table-of-contents__link .toc-highlight .table-of-contents__link--active {
  color: #57875c !important;
}

