/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

* {
  font-family: "Quattrocento", serif;
  font-weight: 400;
  font-style: normal;
  font-size: medium;
  margin: 0;
  /* Remove default margin */
  padding: 0;
  /* Remove default padding */
}

body {
  background-color: var(--ifm-color-background) !important;
  /* Apply background color */
  color: var(--text-color);
}

/* Ensure all sections have a consistent background */
.heroBanner,
.docMainContainer_gTbr,
.sidebarViewport_Xe31,
.menu {
  background-color: var(--ifm-color-background) !important;
  /* Ensure sections have the same background */
}

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

iframe {
  border-radius: 20px;
  border: limegreen solid 1px;
}

.imageStyle {
  width: 20%;
  height: auto;
  border-radius: 20px;
  border: limegreen 1px solid;
  padding: 5px;
}

pre {
  color: #57875c;
  border: #57875c 1px solid;
}

/* Custom background colors for light and dark modes */
:root {
  --ifm-color-background: #ffffff;
  /* Light mode background color */
  --text-color: #000000;
  /* Text color for light mode */
}

/* Dark mode styles */
[data-theme='dark'] {
  --ifm-color-background: #000000;
  /* Dark mode background color */
  --text-color: #e6e6e6;
  /* Text color for dark mode */
}

/* Header and Title styles */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Quattrocento", serif;
  font-weight: 700;
  font-style: normal;
  font-size: 35px;
}

/* Navbar styles */
.navbar {
  background-color: #57875c;
  /* Adjust navbar color */
  align-items: center;
}

.navbar__link_ {
  color: var(--text-color);
  text-decoration: none;
}

/* Link colors */
a {
  color: var(--text-color);
  text-decoration: none;
}

.menu__link {
  color: var(--text-color);
}

/* Additional styling */
.card {
  border: 1px solid #080a09;
  border-radius: 10px;
  padding: 20px;
  margin: 20px;
}

.clean-btn {
  color: white;
  border-radius: 50%;
}

.theme-admonition-tip {
  border: 1px solid #9ea09f;
  border-radius: 10px;
  padding: 20px;
  margin: 20px;
}

.button.button--secondary {
  background-color: #57875c;
  color: white;
  margin: 20px;
  border: 1px solid #00ba47;
}

.button.button--secondary:hover {
  color: white;
}