/* Light mode rule */
[data-theme='light'] .menu__link--active {
  background-color: #f0f0f0;
  color: #333;
}

/* Dark mode rule */
[data-theme='dark'] .menu__link--active {
  background-color: #333;
  color: #f0f0f0;
}

@media (prefers-color-scheme: dark) {
  .menu__link--active {
    background-color: #333; /* Darker background for dark mode */
    color: #f0f0f0; /* Lighter text color for dark mode */
  }
}

.menu__link--active:hover {
  background-color: #e0e0e0; /* Slightly darker shade */
  color: #000; /* Darker text color */
}

[data-theme='dark'] .table-of-contents__link--active {
  color: limegreen; /* Active state in dark mode */
  font-weight: bold; /* Optional: Make active link bold */
}

[data-theme='dark'] .table-of-contents__link--active:hover {
  color: limegreen;
  /* Active state in dark mode on hover */
  font-weight: bold;
  /* Optional: Keep active link bold on hover */
} 

:root {
  /* Replace blue colors with limegreen */
  --ifm-color-primary: limegreen;
  --ifm-color-primary-dark: limegreen;
  --ifm-color-primary-darker: limegreen;
  --ifm-color-primary-darkest: limegreen;
  --ifm-color-primary-light: limegreen;
  --ifm-color-primary-lighter: limegreen;
  --ifm-color-primary-lightest: limegreen;
  --ifm-color-primary-contrast-background: limegreen;
  --ifm-color-primary-contrast-foreground: limegreen;
}

/* Dark mode adjustments */
[data-theme='dark'] {
  --ifm-color-primary: limegreen;
  --ifm-color-primary-dark: limegreen;
  --ifm-color-primary-darker: limegreen;
  --ifm-color-primary-darkest: limegreen;
  --ifm-color-primary-light: limegreen;
  --ifm-color-primary-lighter: limegreen;
  --ifm-color-primary-lightest: limegreen;
  --ifm-color-primary-contrast-background: limegreen;
  --ifm-color-primary-contrast-foreground: limegreen;
}

[data-theme='dark'] {
  background-color: black;
  color: white;
}
